.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60vw;
  gap: 50px;
  padding: 50px;
  color: black;
  background-color: #f2f2f2;
  box-shadow: #d07017 0px 10px 10px, rgba(253, 253, 255, 0.16) 0px 0.5px 2px;
  -webkit-tap-highlight-color: transparent;
}

.artigo1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 20vh;
  color: black;
}

.artigo2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 20vh;
  color: black;
}

.site {
  height: 20px;
  width: 80px;
  border-radius: 0;
  padding: 0;
  text-align: center;
  background-color: #d0d0d0;
  font-size: 10px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

img {
  top: 860px;
  left: 286px;
  width: 250px;
  height: 200px;
}

.btnMais {
  width: 105px;
  font-size: 1px;
  background-color: #302E53;
}
