.container {
    display: flex;
    height: 50%;
    padding: 30px;
    gap: 20px;
}

.container img {
    width: 100%;
}

.containerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}